html {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    overflow: hidden;
}

#content {
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
}

#main-content {
    width: 100%;
    overflow: auto;
}

#left-col {
    width: 200px;
}


.left-align {
    text-align: left;
    padding-right: 0.3em;
}

.prev-boss {
    width: 180px;
    display: inline-block;
}

.next-boss {
    width: 180px;
    display: inline-block;
    text-align: right;
}

#boss-img {
    width: 20px;
}

.small-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    overflow: hidden;
    box-sizing: content-box;
}

.icon-build-title {
    height: 50px;
    display: inline-block;
    overflow: hidden;
}

.icon-tank {
    border: 2px solid rebeccapurple;
    border-radius: 3px;
    margin: -2px;
}

.icon-special {
    border: 2px solid forestgreen;
    border-radius: 3px;
    margin: -2px;
}

.icon-heal {
    background-color: #73c46c;
}

html[data-bs-theme="dark"] .icon-heal {
    background-color: #186810;
}

.boss-nav-img {
    width: 39px;
    height: 39px;
    display: inline-block;
    overflow: hidden;
    padding: 2px;
    box-sizing: content-box;
    margin: 1px;
    cursor: pointer;
    border-radius: 50%;
}

.boss-nav-img-current {
    border: 2px solid green;
    border-radius: 3px;
    width: 39px;
    height: 39px;
    display: inline-block;
    box-sizing: content-box;
    overflow: hidden;
    padding: 2px;
    margin: -1px;
    border-radius: 50%;
}

#boss-img {
    width: 31px;
    height: 31px;
    display: inline-block;
    overflow: hidden;
    margin-left: 1px;
    margin-right: 1px;
}


.border-box {
    border: 1px solid gray;
    border-radius: 4px;
    margin: 2px;
    padding: 3px;
}

.date-filter-label {
    width: 40px;
    display: inline-block;
}

#header {
    padding-top: 8px;
    padding-left: 8px;
}

.dist-viz {
    background: #d3d3d3;
    margin-top: -10px;
    margin-bottom: -6px;
}

html[data-bs-theme="dark"] .dist-viz { 
    background: #2b2a2b;
}

html[data-bs-theme="dark"] .dist-viz > line {
    stroke: #d4d4d4;
}

.dist-viz > line {
    stroke: black;
    stroke-width: 0.5;
}

.percentile-68-Warrior {
    fill: rgb(202, 192, 41);
    stroke-width: 0;
}

.percentile-95-Warrior {
    fill: rgb(222, 212, 61);
    stroke-width: 0;
}

.percentile-68-Guardian {
    fill: rgb(0, 197, 230);
    stroke-width: 0;
}
.percentile-95-Guardian {
    fill: rgb(10, 222, 255);
    stroke-width: 0;
}

.percentile-68-Necromancer {
    fill: rgb(0,200, 98);
    stroke-width: 0;
}
.percentile-95-Necromancer {
    fill: rgb(5,227, 125);
    stroke-width: 0;
}

.percentile-68-Elementalist {
    fill: rgb(227, 36, 36 );
    stroke-width: 0;
}
.percentile-95-Elementalist {
    fill: rgb(247, 56, 56 );
    stroke-width: 0;
}

.percentile-68-Mesmer {
    fill: rgb(184, 39, 189);
    stroke-width: 0;
}
.percentile-95-Mesmer {
    fill: rgb(204, 59, 209);
    stroke-width: 0;
}

.percentile-68-Thief {
    fill: rgb(199, 87, 90);
    stroke-width: 0;
}
.percentile-95-Thief {
    fill: rgb(224, 97, 115);
    stroke-width: 0;
}

.percentile-68-Engineer {
    fill: rgb(207, 95, 21);
    stroke-width: 0;
}
.percentile-95-Engineer {
    fill: rgb(227, 115, 41);
    stroke-width: 0;
}

.percentile-68-Revenant {
    fill: rgb(141, 21, 21);
    stroke-width: 0;
}
.percentile-95-Revenant {
    fill: rgb(161, 41, 41);
    stroke-width: 0;
}

.percentile-68-Ranger {
    fill: rgb(110, 195, 0);
    stroke-width: 0;
}

.percentile-95-Ranger {
    fill: rgb(135, 222, 10);
    stroke-width: 0;
}

/** select */
.no-select {
    user-select: none;
}

/** vertical relative heigth */
.max-vh-25 {
    max-height: 25vh !important
}

/** tags select */
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    color: inherit;
    font-size: 125%;
    margin-left: .25rem;
    font-weight: 700;
    text-shadow: 0 1px 0 #fff;
}

button.close:not(:disabled):not(.disabled):focus, button.close:not(:disabled):not(.disabled):hover {
    opacity: .75;
}

.b-form-tag {
    font-size: 75%;
    font-weight: 400;
    line-height: 1.5;
    margin-right: .25rem;
}

/* sub group boons */
.boon-grid-td {
    display: grid;
    font-size: 75%;
    padding-top: 0 !important; 
    padding-left: 0 !important; 
    padding-right: 0 !important; 
    padding-bottom: 0 !important; 
}
.boon-grid-main {
    grid-row: 1 / span 4;
    grid-column: 1;
    font-size: 133.3%;
    padding-top: 0.25rem; 
    padding-bottom: 0.25rem; 
    
    padding-left: 0.25rem; 
}

.crow-icon {
    /*color: rgb(251 146 60);*/
    font-size: 1.5rem;
    line-height: 2rem;
    display: inline-block;
    font-weight: 900;
    width: 30px;
    filter: invert(75%) sepia(39%) saturate(3342%) hue-rotate(331deg) brightness(100%) contrast(98%);
    margin-top: -5px;
    margin-left: 5px;

}

a:hover > .crow-icon {
    animation-name: bounce;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.28,.04,.42,1);
}

@keyframes bounce {
    0% {
        transform:scale(1) translateY(0)
    }
    10% {
        transform:scale(var(--fa-bounce-start-scale-x,1.1),var(--fa-bounce-start-scale-y,.9)) translateY(0)
    }
    30% {
        transform:scale(var(--fa-bounce-jump-scale-x,.9),var(--fa-bounce-jump-scale-y,1.1)) translateY(var(--fa-bounce-height,-.5em))
    }
    50% {
        transform:scale(var(--fa-bounce-land-scale-x,1.05),var(--fa-bounce-land-scale-y,.95)) translateY(0)
    }
    57% {
        transform:scale(1) translateY(var(--fa-bounce-rebound,-.125em))
    }
    64% {
        transform:scale(1) translateY(0)
    }
    to {
        transform:scale(1) translateY(0)
    }
}

.timeline-spacer {
    display: inline-block;
    background: #999;
    height: 40px;
}

html[data-bs-theme="dark"] .timeline-spacer {
    background: #5b5b5b;
}

span {
    --successful-bg-color: #aec951;
}

html[data-bs-theme="dark"] span {
    --successful-bg-color: #365000;
}

