/* pie chart */
.pie-chart-legend-color {
    margin: 3px 3px 1px 3px;
    display: inline-block;
    width: 10px;
    height: 10px;
}

.pie-chart-legend-name {
    display: inline-flex;
    width: 60px;
    height: auto;
}

.pie-chart-circle {
    margin: 5px;
    width: 170px !important;
    height: 170px;
    border-radius: 50%;
}