/* bootstrap table ext */
.table > thead > tr > th[aria-sort] {
    padding-right: calc(.75rem + .65em);
    cursor: pointer;
}

.table > thead > tr > th[aria-sort]::after {
    background-position: right .375rem center;
    background-repeat: no-repeat;
    background-size: .65em 1em;
    content: " ";
    width: 1em;
    height: 1em;
    float:right;
    margin-right: -22px;
}

html[data-bs-theme="dark"]  .table > thead > tr > th[aria-sort]::after {
    filter: invert(100%) sepia(82%) saturate(98%) hue-rotate(189deg) brightness(116%) contrast(100%);
}

.table > thead > tr > th[aria-sort="none"]::after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' preserveAspectRatio='none'%3E%3Cpath opacity='.3' d='M51 1l25 23 24 22H1l25-22zm0 100l25-23 24-22H1l25 22z'/%3E%3C/svg%3E");
}

.table > thead > tr > th[aria-sort="ascending"]::after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' preserveAspectRatio='none'%3E%3Cpath d='M51 1l25 23 24 22H1l25-22z'/%3E%3Cpath opacity='.3' d='M51 101l25-23 24-22H1l25 22z'/%3E%3C/svg%3E");
}

.table > thead > tr > th[aria-sort="descending"]::after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' preserveAspectRatio='none'%3E%3Cpath opacity='.3' d='M51 1l25 23 24 22H1l25-22z'/%3E%3Cpath d='M51 101l25-23 24-22H1l25 22z'/%3E%3C/svg%3E");
}
